@font-face {
  font-family: yekan;
  src: url("../fonts/iranyekanwebbold.ttf") format("truetype");
}

* {
  font-family: yekan;
}

body {
  background-color: #eee;
}

.sidebar {
  min-height: 120vh;
  min-width: 34vh;;
  background: rgb(52,58,64);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: -5px 7px 25px #999;
  padding-left: 10px;
}

.custom-navbar{

}


.bottom-border {
  border-bottom: 1px groove #eee;
}

.sidebar-link {
  transition: all .4s;
}

.sidebar-link:hover {
  background-color: #444;
  border-radius: 5px;
}

.sidebar-user-image {
  margin-left: 10px;
  margin-right: 4px;
  width: 40px;
}

.sidebar-li-span{
  font-size: 14px;
  color: #eee;
}

.sidebar-li-span:hover {
  color: white;
}

.current {
  background-color:rgb(63, 103, 145);
  border-radius: 7px;
  box-shadow: 2px 2px 4px #111; 
  transition: all .4s;
}

/* .custome-nav-item{

} */

.custome-nav-item :hover {
  background-color: rgb(89, 98, 106);
  border-radius: 7px;
  /* box-shadow: 2px 2px 4px #111; */
  transition: all .9s;
}


.current:hover {
  transform: translateY(-1px);

}
.search-button:hover {
  background-color: #eee;
  transform: translateY(-1px);
}

.search-input {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #999;
  transition: all .4s;
}

.search-input:focus {
  background: transparent;
  box-shadow: none;
  border-bottom: 2px solid #dc3545;
}

.search-input-sidebar {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #999;
  transition: all .4s;
  width: 100%;
}

.search-input-sidebar:focus {
  background: transparent;
  box-shadow: none;
  border-bottom: 2px solid #dc3545;
}


.card-common {
  box-shadow: 1px 2px 5px #999;
  transition: all .4s;
}

.card-common:hover {
  box-shadow: 2px 3px 15px #999;
  transform: translateY(-1px);
}


 .task-border {
  border-right: 3px solid #f66436;
}

@media(max-width : 768px) {
  .top-navbar {
    position: static;
  }

  .sidebar {
    position: static;
    height: auto;
  }
} 

.main-content{
  width: 100%;
}


.signIn-body{
  background: rgb(219,226,226);
}

.row-color{
  background: white;
}